---
---

@import "{{ site.theme }}";

header {
  h1, h2, h3 {
   color: white !important;
  }
  background-image: linear-gradient(to right, #ee0979, #ff6a00) !important;
}

h1, h2, h3 {
 color: black !important;
}
